@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Lato:wght@300;700&display=swap');* {
    box-sizing: border-box;
}

:root {
    --primary-color: #145350;
    --primary-border: 1px solid #c0d3d2;
}

span,p {
    line-height: 35px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Serif', serif;
    margin:  0px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

ul {
    margin: 0px;
    padding-left: 0px;
    margin: 0px;
    list-style: none;
}

input, textarea{
    border: var(--primary-border);
    padding: 8px 10px;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    
    font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus{
    outline-color:  #c0d3d2;
}

button, input[type="submit"] {
    background-color: #145350;
    color: #c0d3d2;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
}

button:hover, input[type="submit"]:hover{
    cursor: pointer
}

textarea {
    resize: none;
}

button {
    border:  1px solid #dfdfdf;
    padding: 5px 10px;
}

/* Utility */

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}



.brand-color {
    color: #145350;
}

.font-secondary {
    color: white;
}

.font-sm {
    font-size: 1rem;
    line-height: 1.5;
}

i {
    color: var(--primary-color)
}

/* Navigation */

nav {
    position: sticky;
    top:0px;   
    background-color: white;
    border-bottom: var(--primary-border);
    box-shadow: 0px 0px 4px 1px rgba(31, 31, 31, 0.2);
    font-size: 1.3rem;
    z-index: 1;
}

nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav > div > div {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav > div > div > span {
    font-size: 1rem;
    display: flex; 
    align-items: center;
}


nav > div > div > ul {
    display: flex;
    flex-direction: row;
    
}

nav > div > div > ul > li {
    margin-right: 25px;
}

nav > div > div > ul > li:last-child {
    margin-right: 0px;
}

nav > div > div > i {
    display: none;
}

#nav-mobile {
    display: none;
}

.active {
    font-weight: 700;
}

/* Home */

header {
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/home.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px rgb(54, 54, 54);
}

header > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}


header > section > span{
    margin-bottom: 20px;
}

header > section > div {
    display: flex;
    gap: 20px
}

header > section > div > button {
    background-color: transparent;
    color: white;
    padding: 10px 25px;
}

header > section > div > button:last-child {
    background-color: transparent;
    background-color: white;
    padding: 10px 25px;
}
header > section > div > button:last-child > a {
    color: grey;
}



/* Services */

#services {
    min-height: 650px;
    height: 70vh;
    display: flex;
    align-content: center;
}

#services {
    display: flex;
    align-items: center;
}

#services > div > h2 {
    margin-bottom: 50px;
}

#services > div > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    text-align: center;
}

#services > div > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    flex-grow: 1;
}


/* Industries & Tech */

#tech {
    min-height: 800px;
    display: flex;
    align-content: center;
}

#tech {
    display: flex;
    align-items: center;
}

#tech > div > h2 {
    margin-bottom: 50px;
}

#tech > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
    text-align: center;
}


#tech > div > div > p {
    line-height: 1.5rem;
}
/* About */

#about {
    background:#051312;
    background-size: cover;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#about > div {
    position: absolute;
}

video {
    height: 100%;
    min-width: 100%;
    background:rgba(0,0,0,0.6);
}

/* Software */

#software {
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
}

/* Industries */

#industries {
    padding: 75px 0px;
}

#industries > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
    column-gap: 60px;
} 

#industries > div > div > div  {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 1px rgba(31, 31, 31, 0.2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
} 


#industries > div > div > div > div {
    background-color: rgba(20, 83, 80,0.1);
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 100%;
} 

#industries > div > div > div > img {
    width: 100%;
    height: auto;
}


/* Contacts */


#contacts {
    height: 500px;
    display: flex;
    align-items: center;
    
}

#contacts > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 100%;
}

#contacts > div > div {
    position: relative;
}

#contacts > div > div > form {
    position: absolute;
    top: -150px;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    padding: 50px 40px;
    box-shadow: 0px 0px 4px 1px rgba(31, 31, 31, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



#contacts > div > div > form > h2{
    margin-bottom: 40px;
    align-self: start;
}

#contacts > div > div > form > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}

#contacts > div > div > form > div > label{
    position: absolute;
    top: -13px;
    padding: 0 3px;
    left: 10px;
    background-color: white;
}

#contacts > div > div > form > div:last-child{
    margin-bottom: 0px;
}

#contacts > div > div > form > div > input,textarea{
    width: 100%;
}

#contacts > div > div > form > div > textarea{
    height: 100px;
}

.contact-details {
    position: absolute;
    top: -10px;
}


.contact-details > p{
    text-align:justify;
}

.contact-details > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    margin-top: 30px;
}
.contact-details > div > div {
    display: flex;
    align-items: center;
    gap: 10px
}

.contact-details > div > div > i{
    font-size: 2.8rem;    
}

.contact-details > div > div > div > h4 {
    margin: 0;
    color: #145350;
}
/* Footer */

footer {
    border-top: var(--primary-border);
}

footer > div {
    display: flex;
    height: 70px;
    align-items: center;
}

@media (min-width: 769px) and (max-width: 1200px) {
    h2 {
        font-size: 1.4rem;
    }

    header > section {
        width: 75%;
    }

    nav {
        padding: 0 40px;
    }

    nav > div > div > span {
        display:none;
    }
    #services {
        padding: 0px 40px;
    }
    #about > div > * {
        font-size: 1.2rem;
        padding: 0px 40px;
    }
    
    /* Industries */

    #industries {
        padding: 40px;
    }

    #industries > div > div {
        row-gap: 30px;
        column-gap: 30px;
    } 

    #software {
        padding: 0 40px;
    }

    #contacts {
        height: 100%;
        padding: 40px;
    }

    #contacts > div {
        display: flex;
        flex-direction: column;
    }

    #contacts > div > div > form {
        position: static;
        top: 0px;
    }

    .contact-details {
        text-align: center;
    }

    .contact-details > div > div {
        justify-content: center;
    }

    footer {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    nav {
        padding: 0 25px;
    }

    nav > div > div > i {
        display:inline;
    }

    nav > div > div > span,
    nav > div > div > ul {
        display:none;
    }

    #nav-mobile {
        position: fixed;
        top: 71px;
        display: none;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0px;
        background-color: white;
        width: 100%;
        z-index: 1;
        border-bottom: var(--primary-border);
    }

    header > section {
        width: 80%;
    }

    header > section > h1 {
        font-size: 1.5rem;
    }

    header > section > span {
        display: none;
    }

    #services {
        height: 100%;
        padding: 40px;
    }

    #services > div > div {
        flex-direction: column;
    }

    #services > div > div > div {
        width: 100%;
    }

    #about {
        height: 850px;
        background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/about.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    
    #about > div {
        padding: 0 20px;
        
    }

    #about > div > h2 {
        font-size: 1.2rem;
    }
    
    video {
        display: none;
    }
    

    #industries {
        padding: 25px 25px;
    }

    #industries > div > div {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        column-gap: 60px;
    } 

    #software {
        height: 100%;
        padding: 25px 25px;
    }

    #contacts {
        height: 100%;
        padding: 40px;
    }

    #contacts > div {
        display: flex;
        flex-direction: column;
    }

    #contacts > div > div > form {
        position: static;
        top: 0px;
    }

    .contact-details {
        text-align: center;
    }

    .contact-details > div {
        display: flex;
        flex-direction: column;
    }

    .contact-details > div > div {
        justify-content: center;
    }

    #contacts > div > div > form {
        padding: 25px;
    }

    footer {
        padding: 0 25px;
        font-size: 1rem;
    }


}