@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Lato:wght@300;700&display=swap');* {
    box-sizing: border-box;
}

span,p {
    line-height: 35px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Serif', serif;
    margin:  0px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

ul {
    margin: 0px;
}

input, textarea{
    border: 1px solid #c0d3d2;
    padding: 8px 10px;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    
    font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus{
    outline-color:  #c0d3d2;
}

button, input[type="submit"] {
    background-color: #145350;
    color: #c0d3d2;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
}

textarea {
    resize: none;
}

button {
    border:  1px solid #dfdfdf;
    padding: 5px 10px;
}

/* Utility */

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-weight: 700;
}

.brand-color {
    color: #145350;
}

.font-secondary {
    color: white;
}

.font-sm {
    font-size: 1.1rem;
}

/* Navigation */

nav {
    position: sticky;
    top:0px;   
    background-color: white;
    border-bottom: 1px solid #c0d3d2;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
}

nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav > div > div {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav > div > div > span {
    font-size: 1rem;
}


nav > div > div > ul {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    margin: 0px;
    list-style: none;
}

nav > div > div > ul > li {
    margin-right: 25px;
}

nav > div > div > ul > li:last-child {
    margin-right: 0px;
}

.active {
    font-weight: 700;
}

/* Home */

header {
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px rgb(54, 54, 54);
}

header > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 150px;
    
}

header > section > div:last-child {
    margin-top: 30px;
}

header > section > div:last-child > form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header > section > div:last-child > form > * {
    margin-bottom: 10px;
}

header > section > div:last-child > form > div > input,#message {
    width: 300px;
}

header > section > div:last-child > form > div > textarea {
    height: 140px;
}

header > section > div:last-child > form > :last-child {
    margin-bottom: 0px;
}

header > section > div:last-child > form > button {
    width: 70px
}

/* Services */

#services {
    min-height: 800px;
    height: 70vh;
    display: flex;
    align-content: center;
}

#services {
    display: flex;
    align-items: center;
}

#services > div > h2 {
    margin-bottom: 50px;
}

#services > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
    text-align: center;
}


#services > div > div > p {
    line-height: 1.5rem;
}

/* Industries & Tech */

#tech {
    min-height: 800px;
    display: flex;
    align-content: center;
}

#tech {
    display: flex;
    align-items: center;
}

#tech > div > h2 {
    margin-bottom: 50px;
}

#tech > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
    text-align: center;
}


#tech > div > div > p {
    line-height: 1.5rem;
}
/* About */

#about {
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/about.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
}

/* Contacts */


#contacts {
    height: 500px;
    display: flex;
    align-items: center;
}

#contacts > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 100%;
}

#contacts > div > div {
    position: relative;
}

#contacts > div > div > form {
    position: absolute;
    top: -150px;
    background-color: white;
    width: 100%;
    padding: 50px 40px;
    box-shadow: 0px 0px 6px 4px rgba(31, 31, 31, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



#contacts > div > div > form > h2{
    margin-bottom: 40px;
    align-self: start;
}

#contacts > div > div > form > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}

#contacts > div > div > form > div > label{
    position: absolute;
    top: -13px;
    padding: 0 3px;
    left: 10px;
    background-color: white;
}

#contacts > div > div > form > div:last-child{
    margin-bottom: 0px;
}

#contacts > div > div > form > div > input,textarea{
    width: 100%;
}

#contacts > div > div > form > div > textarea{
    height: 100px;
}

.contact-details {
    position: absolute;
    top: -10px;
}


.contact-details > p{
    text-align:justify;
}

.contact-details > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    margin-top: 30px;
}
.contact-details > div > div {
    display: flex;
    align-items: center;
    gap: 10px
}

.contact-details > div > div > i{
    font-size: 2.8rem;
    color: #145350;
}

.contact-details > div > div > div > h4 {
    margin: 0;
    color: #145350;
}
/* Footer */

footer {
    border-top: 1px solid #c0d3d2;
}

footer > div {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}